* {
  font-family: poppins;
}
:root {
  --bg: #fcfbfa;
  --color: #1f1f23;
  --primary: #5c6bc0;
  --accent: #ff7043;
  --secondary: #c5cae9;
  --font-sans: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: "Playfair Display", "Georgia", serif;
  --board-color: #c5cae9;
  --line-color: #1f1f2333;
}

body.dark {
  --bg: #1f1f23;
  --color: #fcfbfa;
  --primary: #5c6bc0;
  --accent: #ff7043;
  --secondary: #3a3a3f;
  --board-color: #3a3a3f;
  --line-color: #fcfbfa33;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg);
  color: var(--color);
}
button {
  cursor: pointer;
  outline: none;
}
#box-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}
#box-container button {
  background-color: var(--text);
  width: 70px;
  height: 70px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  border: 2px solid;
  color: var(--board-color);
}

#character-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
#character-buttons button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
  scale: 0.89;
  transition: 0.2s ease;
}
@keyframes scaleAnime {
  0% {
    scale: 0.85;
  }
  100% {
    scale: 1.025;
    background-color: var(--secondary);
    border-color: var(--secondary);
    color: var(--color);
  }
}
#home #try {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--primary);
  color: var(--text);
}
#character-buttons button.active {
  background-color: var(--primary);
  box-shadow: 0px 0px 15px var(--line-color);
  font-size: 1rem;
  scale: 1.05;
  font-weight: bolder;
}
#home {
  display: none;
}
#theme-btn {
  position: absolute;
  top: 1.5rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 1.5em;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
}
#theme-btn i {
  scale: 1.1;
  transition: 0.4s ease;
}
